<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <title><%= title %></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type='text/javascript' src='/js/script.js'></script>
    <link rel='stylesheet' href='/ss/style.css' />
  </head>
  <body>

    <div id="instructionModal" class="modal">

      <div class="modal-content">
        <span class="close" id="instructionClose">&times;</span>
        <p id="instrBox">Consumptions</p>
        <div class="modal-content-left">
          <p id="instrBox1">@ 1km/h<br>Car A: 3l/100km/h<br>Car B: 3.5l/100km<br>Car C: 4l/100km</p>
        </div>
        <div class="modal-content-right">
          <p id="instrtBox2">@ 80km/h<br>Car A: ~6l/100km<br>Car B: ~7l/100km<br>Car C: ~8l/100km</p>
        </div>
      </div>
    </div>

    <div id="resultModal" class="modal">

      <div class="modal-content">
        <span class="close" id="close">&times;</span>
        <p id="resultBox"></p>
        <div class="modal-content-left">
          <p id="resultBox1"></p>
        </div>
        <div class="modal-content-right">
          <p id="resultBox2"></p>
        </div>
      </div>

    </div>

    <div id="layoutMain">
      <h1>ROUTE PLANNER</h1>
      <form id="calcForm">
        <p>ENTER THE DISTANCE OF YOUR TRIP</p>
        <input class="formInput" type="text" placeholder="Distance (km)" name="iDistance"/>
        <p>ENTER THE SPEEDS TO COMPARE</p>
        <input class="formInput" type="text" placeholder="Speed 1 (km/h)" name="iSpeed1"/>
        <input class="formInput" type="text" placeholder="Speed 2 (km/h)" name="iSpeed2"/>
        <p>PICK A CAR <span id="instruction">(?)</span></p>
        <select class="formDropDown" name="iCars">
          <%
            var list = '';
            for(i = 0; i < carlist.cars.length; i++){
              list += '<option value="' + carlist.cars[i].consumption + '">' + carlist.cars[i].make + '</option>';
            }
          %>
          <%- list %>
        </select>
        <button class="formButton" type="button">
          CALCULATE
        </button>
      </form>
      <footer id="layoutFooter"><small>&copy; Toni Heinänen 2021</small></footer>
    </div>
  </body>
</html>